<div class="container ">

  <form class="form-signin" method="post" action="/voteTopics" style="width: 330px;margin: 0 auto;">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="oracleId" class="sr-only">Enter your Oracle Id</label>
    <input type="text" id="oracleId" class="form-control" name="oracleId" placeholder="Enter your oracle id" required
           autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>
